{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Better clean - Review</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'css/mybase.css' %}" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container-fluid">
        <div class="col-lg-4 col-md-5 col-sm-8 col-12 m-auto">
            <div class="h5 fw-bold p-4">
                <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="#" /></a>
                <br><br>
                Customer Review
            </div>
        
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="px-2">
                            <span class=""><span class="text-muted">Posting as </span>{{request.user.first_name}}</span><br>
                            <span class="text-muted small">Post a review</span>
                        </div>
                    </div>
                    <form method="POST" action="{% url 'create_review' %}" class="mt-2" name="review">
                        {% csrf_token %}
                        <textarea rows="4" class="form-control fw-500 resize-none" name="review"></textarea>
                        <label class="fw-500 small mb-2" for="rating">Please Rate us</label>
                        <div class="text-center status">
                            <strong class="feed"></strong>
                        </div>
                        <input onchange="rating()" type="range" name="crating" class="form-range" min="1" max="5">

                        <button type="submit" class="btn btn-primary w-100">Post a review</button>
                    </form>
               </div>
            </div>
        </div>
    </div>
    <script>

        function rating(form){

            feed = document.forms.review.querySelector(".status .feed");

            this.val = document.querySelector("input[type=range]").value;
            console.log(feed);
            if (this.val == 3) {
                feed.innerHTML = "3 --OK";
            }
            else if (this.val == 4) {
                feed.innerHTML = "4 -- Satisfied";
            }
            else if (this.val == 5) {
                feed.innerHTML = "5 -- Very satisfied";
            }
            else if (this.val == 2) {
                feed.innerHTML = "2 -- Dis-satisfied";
            }
            else if (this.val == 1) {
                feed.innerHTML = "1 -- Very dis-satisfied";
            }
        }

       
    </script>
</body>
</html>